.intro__quote-author {
  font-weight: normal;
  font-size: 24px;
  line-height: 142%;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  width: 90%;
  max-width: 690px;
  text-align: right;
}
@media screen and (min-width: 350px) and (max-width: 1250px) {
  .intro__quote-author {
    max-width: 720px;
    margin: 10px 24px 0;
  }
}
@media screen and (max-width: 350px) {
  .intro__quote-author {
    max-width: 288px;
    margin-bottom: 0;
    margin: 10px 16px 0;
  }
}
