.intro__quote {
  font-weight: normal;
  font-size: 24px;
  line-height: 142%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  max-width: 690px;
}
@media screen and (min-width: 350px) and (max-width: 1250px) {
  .intro__quote {
    max-width: 720px;
    margin: 40px 24px 0;
  }
}
@media screen and (max-width: 350px) {
  .intro__quote {
    line-height: 125%;
    max-width: 288px;
    margin: 40px 16px 0;
  }
}
