.intro__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding: 0;
  max-width: 690px;
}
@media screen and (min-width: 350px) and (max-width: 1250px) {
  .intro__text {
    max-width: 720px;
    margin: 32px 24px 0;
  }
}
@media screen and (max-width: 350px) {
  .intro__text {
    max-width: 288px;
    margin: 32px 16px 0;
  }
}
