.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 32px;
  width: 720px;
}
@media screen and (min-width: 550px) and (max-width: 1250px) {
  .lead__subtitle {
    width: 90%;
    max-width: 720px;
  }
}
@media screen and (max-width: 550px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin-top: 16px;
  }
}
