.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  max-width: 785px;
}

@media screen and (min-width: 350px) and (max-width: 1250px) {
  .intro__title {
    max-width: 720px;
    margin: 0 24px;
  }
}
@media screen and (max-width: 350px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
    max-width: 288px;
    margin: 0 16px;
  }
}
